/* CSS File for Restaurant Page Project */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-white);
}

.home-bg {
    width: 1000px;
    height: auto;
}